#nuage {
    animation-iteration-count: infinite;
    animation-name: nuage;
    animation-duration: 20s;
    margin-right: 220%;
}

@keyframes nuage {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(500%);
    }
}

#snowman {
    animation-name: snowman;
    animation-duration: 5s;
    transform-origin: bottom;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes snowman {
    0% {
        transform: rotateX(177deg);
    }
}

#guirlande-boule {
    transform-origin: top;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: guirlande;
    animation-duration: 7s;
}

#guirlande-grand-sucre {
    transform-origin: top;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: guirlande;
    animation-duration: 5s;
}

#guirlande-mini-sucre {
    transform-origin: top;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: guirlande2;
    animation-duration: 5s;
}

#guirlande-cadeau {
    transform-origin: top;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: guirlande2;
    animation-duration: 5s;
}

#guirlande-sapin {
    transform-origin: top;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: guirlande;
    animation-duration: 5s;
}

@keyframes guirlande {
    0% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}

@keyframes guirlande2 {
    0% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(-10deg);
    }
}

svg {
    margin-left: 25%;
    -webkit-box-shadow: -1px 2px 40px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 40px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 40px -5px rgba(0, 0, 0, 0.75);
}

body {
    background-image: url(background.jpg);
}

#snow {
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}
